_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
.DS_STORE
**/.DS_STORE
_posts/2013-07-01-test-page.md
_posts/2013-08-13-test-page2.md
_posts/2014-03-30-test-page3.md
_posts/2014-04-09-test-page4.md