<section id="about">

		<div class="container">
			<div class="row">
				
				<div class="col-md-5">

					<img class="aboutImage" src="assets/img/jenny.png">
					
				</div>

				<div class="col-md-7">

					<h4>Hi, I'm Jennifer !</h4>

					<p>I currently work as a Software Developer at ThoughtWorks. I graduated in 2016 with a degree in Advanced Computer Science from The University of Sheffield, UK. Having started my career working with Microservices in a Java/Spring Boot environment, I found myself working with smart ecosystems/iOT by complete chance and developed a great passion for it.</p>
					<p>I'm a passionate advocate for Diversity in Tech and am interested in bridging the gap between hardware and software.</p>
					
				</div>

			</div>

		</div>
	
</section>