<section id="about">

		<div class="container">
			<div class="row">
				
				<div class="col-md-5">

					<img class="aboutImage" src="assets/img/jenny.png">
					
				</div>

				<div class="col-md-7">

					<h4>About Jennifer</h4>

					<p>Jennifer currently works as a Senior Software Developer at ThoughtWorks.
						She graduated in 2016 with a degree in Advanced Computer Science from The University of Sheffield, UK.
						Having started her career working with Microservices in a Java/Spring Boot environment,
						she's had the chance of working in the smart ecosystems/iOT space
						and is keen to branch out to emerging technologies such as blockchain tech, following her
						passion to solve hard technical challenges in a constraint environment.
					</p>
					<p>As a Systers Keeper- leaders of an international women in tech community-
						she's a passionate advocate for Diversity in Tech and is convinced that diverse teams build better products.</p>
					
				</div>

			</div>

		</div>
	
</section>