<meta charset="UTF-8">
<meta name="description" content="{{ site.seo.description }}">
<meta rel="author" href="{{ site.seo.author }}">
<title>{{ site.title }}</title>
<link rel="shortcut icon" href="{{ "/assets/img/favicon.ico" | relative_url }}">

<link rel="stylesheet" type="text/css" href="{{ "/assets/css/superslides.css" | relative_url }}">
<link rel="stylesheet" type="text/css" href="{{ "assets/css/owl.carousel.css" | relative_url }}">

<!-- bootstrap -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<!-- fancybox css -->

<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />

<!-- fontawesome css -->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">

<link rel="stylesheet" type="text/css" href="{{ "/assets/css/styles.css" | relative_url }}">

	<!-- jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

{% include analytics.html %}