<section id="skills">

	<!-- https://owlcarousel2.github.io/OwlCarousel2/ -->

		<div class="container">
			<div class="row">

				<div class="col-md-12 text-center">
					<h2>TECHNICAL SKILLS</h2>
					<p>A representation of proficiency in each skill</p>
				</div>

				<!-- https://github.com/rendro/easy-pie-chart -->
				<div class="owl-carousel owl-theme">
					<div class="skill">
						<span class="chart" data-percent="80">
							<span class="percent"></span>
							<canvas height="152" width="152"></canvas>
						</span>
						<h4>Golang</h4>
						<p>Working for a German car manufacturer writing car-related software in Golang</p>
					</div>

					<div class="skill">
						<span class="chart" data-percent="80">
							<span class="percent"></span>
							<canvas height="152" width="152"></canvas>
						</span>
						<h4>Java</h4>
						<p>Working for a Austrian insurance company splitting up their monolith into microservices</p>
					</div>

					<div class="skill">
						<span class="chart" data-percent="70">
							<span class="percent">70</span>
							<canvas height="152" width="152"></canvas>
						</span>
						<h4>C/C++</h4>
						<p>Working with Microcontrollers for work & for fun</p>
					</div>

					<div class="skill">
						<span class="chart" data-percent="70">
							<span class="percent"></span>
							<canvas height="152" width="152"></canvas>
						</span>
						<h4>Python</h4>
						<p>Still using python here and there for appropriate tooling. Some experience in developing Neural Networks in Python.</p>
					</div>

					<div class="skill">
						<span class="chart" data-percent="30">
							<span class="percent"></span>
							<canvas height="152" width="152"></canvas>
						</span>
						<h4>Bash</h4>
						<p>Currently picking up some bash skills for scripting.</p>
					</div>

					<div class="skill">
						<span class="chart" data-percent="30">
							<span class="percent"></span>
							<canvas height="152" width="152"></canvas>
						</span>
						<h4>Terraform</h4>
						<p>Currently picking up some bash skills for infrastructure as code.</p>
					</div>

					<div class="skill">
						<span class="chart" data-percent="40">
							<span class="percent"></span>
							<canvas height="152" width="152"></canvas>
						</span>
						<h4>HTML / CSS</h4>
						<p>Web skills to create some basic websites.</p>
					</div>

				</div>

			</div>

		</div>
	
</section>