<section id="stats">

	<!-- https://inorganik.github.io/countUp.js/ -->

		<div class="container">
			<div class="row">

				<div class="col-md-3 col-sm-6">

					<div class="squareItem">

						<div class="squareInnerContainer">

							<div class="squareIcon">
								<i class="fa fa-archive"></i>
							</div>

							<div class="squareContent">
								<h2 class="counter">5</h2>
								<h3>Years work experience</h3>
							</div>

						</div>

					</div>

				</div>


				<div class="col-md-3 col-sm-6">

					<div class="squareItem">

						<div class="squareInnerContainer">

							<div class="squareIcon">
								<i class="fa fa-archive"></i>
							</div>

							<div class="squareContent">
								<h2 class="counter">4</h2>
								<h3>Number of Conference Talks</h3>
								<!--
								azure developer conference (Dez 2020)
								N.O.W. IT (Jan 2021)
								DevSum (May 2021)
								Developer Week (July 2021)
								-->
							</div>

						</div>

					</div>

				</div>


				<div class="col-md-3 col-sm-6">

					<div class="squareItem">

						<div class="squareInnerContainer">

							<div class="squareIcon">
								<i class="fa fa-archive"></i>
							</div>

							<div class="squareContent">
								<h2 class="counter">7</h2>
								<h3>Years volunteering with Systers</h3>
							</div>

						</div>

					</div>

				</div>


				<div class="col-md-3 col-sm-6">

					<div class="squareItem">

						<div class="squareInnerContainer">

							<div class="squareIcon">
								<i class="fa fa-archive"></i>
							</div>

							<div class="squareContent">
								<h2 class="counter">3</h2>
								<h3>Random IOT projects started</h3>
							</div>

						</div>

					</div>

				</div>


			</div>

		</div>
	
</section>