<section id="stats">

	<!-- https://inorganik.github.io/countUp.js/ -->

		<div class="container">
			<div class="row">

				<div class="col-md-3 col-sm-6">

					<div class="squareItem">

						<div class="squareInnerContainer">

							<div class="squareIcon">
								<i class="fa fa-archive"></i>
							</div>

							<div class="squareContent">
								<h2 class="counter">4</h2>
								<h3>Years Workexperience</h3>
							</div>

						</div>

					</div>

				</div>


				<div class="col-md-3 col-sm-6">

					<div class="squareItem">

						<div class="squareInnerContainer">

							<div class="squareIcon">
								<i class="fa fa-archive"></i>
							</div>

							<div class="squareContent">
								<h2 class="counter">2</h2>
								<h3>Conference Talks</h3>
							</div>

						</div>

					</div>

				</div>


				<div class="col-md-3 col-sm-6">

					<div class="squareItem">

						<div class="squareInnerContainer">

							<div class="squareIcon">
								<i class="fa fa-archive"></i>
							</div>

							<div class="squareContent">
								<h2 class="counter">4</h2>
								<h3>Meetups Organized</h3>
							</div>

						</div>

					</div>

				</div>


				<div class="col-md-3 col-sm-6">

					<div class="squareItem">

						<div class="squareInnerContainer">

							<div class="squareIcon">
								<i class="fa fa-archive"></i>
							</div>

							<div class="squareContent">
								<h2 class="counter">5</h2>
								<h3>Client Workshops</h3>
							</div>

						</div>

					</div>

				</div>


			</div>

		</div>
	
</section>